.first-post{
    margin: auto;
    background-color: white;
    width: 30%;
}
body{
    background-color: grey;
    margin: 0%;
}
.second-post{
    margin: auto;
    background-color: white;
    width: 30%;
    display: flex;
}
.third-post{
    margin: auto;
    background-color: white;
    width: 30%;
    display: flex;
}
.flex1{
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: white;
    margin: 0px;
    text-align: center;
    margin-bottom: 10px;
}
.par{
    text-align: left;
}
.img1{
    width: 100%;
}

